<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Address form</title>
</head>
<body>

    <form method="post">
        <div>
            Firstname: <input type="text" name="firstName"/>
            <br />
            Lastname: <input type="text" name="lastName"/>
            <br />
            Street + number: <input type="text" name="street"/>
            <br />
            Zipcode: <input type="text" name="zipCode"/>
            <br />
            Area: <input type="text" name="area"/>
            <br />
            Country: <input type="text" name="country"/>
            <br />
            <input type="submit" value="Submit"/>
        </div>
    </form>

</body>
</html>
