.errorMessage {
    font-size: 11px;
    color: red;
}

.errorField {
    border-color: red;
}

.vehicle-registration .form-row {
    margin-bottom: 10px;
}

.vehicle-registration .form-row:last-child {
    margin-bottom: 0;
}

.vehicle-registration .form-row label {
    display: inline-block;
    width: 250px;
}

.form-row .input-wrapper {
    display: inline-block;
}

.form-row .input-wrapper span label {
    display: initial;
    width: initial;
}

.input-wrapper .errorMessage {
    margin-bottom: 2px;
}
